In [2]:
import pandas as pd
import sqlite3

In [3]:
def ejecutar_query(conexion, query):
    cursor = conexion.cursor()
    cursor.execute(query)
    data = cursor.fetchall()

    cols = [val[0] for val in cursor.description]
    return pd.DataFrame(data, columns=cols).to_dict()

In [4]:
conexion = sqlite3.connect(":memory:")
cursor = conexion.cursor()
with open("create_tables.sql") as f:
    cursor.executescript(f.read())

In [33]:
query = """
SELECT K0, avg(c12) FROM tbl1 WHERE c13 > 400 GROUP BY K0;
"""
ejecutar_query(conexion, query)

{'K0': {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'},
 'avg(c12)': {0: 476.155,
  1: 536.5233333333333,
  2: 490.8299999999999,
  3: 709.53,
  4: 474.82500000000005}}

In [34]:
respuesta = {
        "K0": {0: "A", 1: "B", 2: "C", 3: "D", 4: "E"},
        "avg(c12)": {
            0: 476.155,
            1: 536.5233333333333,
            2: 490.8299999999999,
            3: 709.53,
            4: 474.82500000000005,
        },
    }
ejecutar_query(conexion, query)==respuesta

True

In [ ]:
{"strftime('%Y',c23)": {0: '2016', 1: '2017', 2: '2018', 3: '2019'},
 'avg(c21)': {0: 564.4764285714285,
  1: 515.1563636363637,
  2: 557.5593749999999,
  3: 550.9985714285714}}

{
        "strftime('%Y', c23)": {0: "2016", 1: "2017", 2: "2018", 3: "2019"},
        "avg(c21)": {
            0: 564.4764285714285,
            1: 515.1563636363637,
            2: 557.5593749999999,
            3: 550.9985714285714,
        }
    }